src/main/mule/mule_project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cf47053d-b0b6-47f2-b357-e29bdb098e49" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule_projectFlow" doc:id="f407b6af-3854-42d8-be28-737988506ff0" >
		<http:listener doc:name="Listener" doc:id="325551c0-ef61-4490-b9d8-b8aeeb73be09" config-ref="HTTP_Listener_config" path="/time"/>
		<ee:transform doc:name="Current Time" doc:id="759d914c-3369-4ffc-bdab-a44cb39f4201" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message":"Hi Javed",
	"Time":now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d93b6704-5628-4fe9-b0e8-3026de5ec06b" message="#[payload]"/>
	</flow>
</mule>
